* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.code-wrapper {
  margin-left: 30px;
  padding: 30px;
  border: 2px solid #4400ba;
  width: 1000px;
}

.line-container {
  display: flex;
  align-items: center;
}

.line-index {
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 16px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.line-content {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  color: #444444;
}

.comment-wrapper {
  margin-left: 30px;
  width: 400px;
  display: none;
}

.comment-wrapper--shown {
  display: block;
}

.comment-textarea {
  width: 100%;
  height: 80px;
  padding: 5px;
}

.comment-wrapper--bottom {
  display: flex;
  justify-content: flex-end;
}

.button--cancel {
  margin-right: 10px;
}

.button--send {
  margin-right: 10px;
}
